/* ========== Mobile Responsive Style ========== */

@media screen and (max-width: 600px) {

  /* Shared styles */
  .btn{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 800;
  }

  .nav-container,
  .hero-container,
  .destination-container,
  .popular-tour-container,
  .why-chose-us-container,
  .deal-container,
  .perfect-place-container,
  .newsletter-discount-container,
  .footer-container {
    padding: 0px 25px;
  }

.section-header{
  max-width: 310px;
  margin-bottom: 16px;
}

.section-header > h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.section-header > p {
  font-size: 14px;
  line-height: 24px;
}

  /* ===== Nav container style ===== */
  .nav-container{
    padding: 25px 25px;
  }
  .nav-container .nav-menu{
    display: none;
  }

  .hamburger-menu{
    display: block;
  }

  /* ===== Hero container style ===== */
  .hero-content {
  position: absolute;
  }

  .hero-banner img{
    height: 400px;
  }

  .hero-content > h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .hero-content > p {
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 300px;
  }

  .search-box form {
  background: rgba(255, 255, 255, 0.5);
  max-width: 300px;
  margin: 0 auto;
  gap: 10px;
  flex-direction: column;
  }

  .search-box form input[type="text"],
  .search-box form select {
  padding: 5px;
  width: 100%;
  font-size: 15px;
}

.search-box form > .btn {
  font-size: 14px;
  padding: 10px;
  width: 100%;
}


  /* ===== Popular tour style ===== */
  .popular-tour-container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

 .popular-tour-container > div > h2{
  font-size: 20px;
 }
 .popular-tour-container > div > p{
  max-width: 335px;
  font-size: 14px;
  line-height: 24px;
}


  /* ===== Destination container style ===== */
  .destination-grid-container{
  display: flex;
  flex-direction: column;
}

.destination-grid-container strong{
  font-size: 20px;
  font-weight: 700;
}

  /* ===== Why chose us style ===== */
  .why-chose-us-card-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.why-chose-us-card-container > div:nth-child(1),
.why-chose-us-card-container > div:nth-child(2),
.why-chose-us-card-container > div:nth-child(3){
  grid-column: auto;
}

.why-chose-us-card{
  max-width: 335px;
  margin: 0 auto;
}

.why-chose-us-card img{
  max-width: 48px;
}

.why-chose-us-card > h3{
  font-size: 20px;
  margin-top: 16px;
}

.deal-card > div img{
  height: 335px;
}

.transparent-deal-card-content{
  max-width: 450px;
  min-width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.transparent-deal-card-icon-container{
    flex-wrap: wrap;
    gap: 10px;
}

.transparent-deal-card-icon-container p{
  display: flex;

  align-items: center;
  justify-content: center;

}

.transparent-deal-card-icon-container p i{
  color: #ff5400;
  font-size: 19px;
}

.transparent-deal-card-content > h3{
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.transparent-deal-card-content > p{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
}

.transparent-deal-card-content > strong{
  font-size: 16px;
}

.all-packg-btn{
  margin-top: 24px;
  margin-bottom: 30px;
}

.all-packg-btn .btn{
  font-size: 10px;
  padding: 10px 20px;
}

/* ======= Perfect place style ===== */
.perfect-place-container{
  flex-direction: column;
  margin-bottom: 24px;
}

.perfect-place-container > div{
  max-width: 100%;
}

.perfect-place-container > div > h2{
  font-size: 20px;
}

.perfect-place-container > div > p{
  font-size: 14px;
}

/* ============ Newsletter discount style ============== */

.newsletter-discount-container {
  flex-direction: column;
  margin-bottom: 28px;
}

.newsletter-container {
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #ff5400;
  text-align: left;
  gap: 24px;
}

.newsletter-content > strong {
  font-size: 20px;
  margin-bottom: 8px;
}

.newsletter-content > p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}

.newsletter-content > hr {
  margin-bottom: 15px;
}

.newsletter-content > form > input[type="text"],
.newsletter-content > form > input[type="email"] {
  padding: 16px;
  font-size: 16px;
}

.newsletter-content > form > .btn{
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
}


}
