/* ========== Mobile Responsive Style ========== */

@media screen and (max-width: 600px) {

  /* Shared styles */
  .btn{
    padding: 5px 5px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .nav-container,
  .hero-container,
  .destination-container,
  .popular-tour-container{
    padding: 0px 25px;
  }

  /* ===== Nav container style ===== */
  .nav-container{
    padding: 25px 25px;
  }
  .nav-container .nav-menu{
    display: none;
  }

  .hamburger-menu{
    display: block;
  }

  /* ===== Hero container style ===== */
  .hero-content {
  position: absolute;
  }

  .hero-banner img{
    height: 400px;
  }

  .hero-content > h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .hero-content > p {
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 300px;
  }

  .search-box form {
  background: rgba(255, 255, 255, 0.5);
  max-width: 300px;
  margin: 0 auto;
  gap: 10px;
  flex-direction: column;
  }

  .search-box form input[type="text"],
  .search-box form select {
  padding: 5px 5px;
  font-size: 15px;
}


  /* ===== Popular tour style ===== */
  .popular-tour-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .bct > p{
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }


  /* ===== Destination container style ===== */
  .destination-grid-container{
  display: flex;
  flex-direction: column;
}
}
